Source: argus-pep-server
Priority: extra
Maintainer: Valery Tschopp <valery.tschopp@switch.ch>
Build-Depends: debhelper (>= 7.0.50~), maven2, default-jdk
Standards-Version: 3.9.1
Section: java
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/AuthorizationFramework
Vcs-Git: git://github.com/argus-authz/argus-pep-server.git
Vcs-Browser: https://github.com/argus-authz/argus-pep-server

Package: argus-pep-server
Architecture: all
Depends: default-jre-headless, lsb-base, libargus-pep-common-java, libargus-pdp-pep-common-java, ${misc:Depends}
Description: Argus PEP Server
 The Argus Authorization Service renders consistent authorization 
 decisions for distributed services (e.g., user interfaces, 
 portals, computing elements, storage elements). The service 
 is based on the XACML standard, and uses authorization policies 
 to determine if a user is allowed or denied to perform a certain 
 action on a particular service.
