<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!--
        Loggers define indicate which packages/categories are logged, at
        which level, and to which appender. Levels: OFF, ERROR, WARN,
        INFO, DEBUG, TRACE, ALL
    -->
    <logger name="org.glite.authz" level="DEBUG"/>

    <!-- OpenSAML loggers -->
    <logger name="org.opensaml" level="warn" />
    <logger name="org.opensaml.xml" level="warn" />

    <!-- HttpClient loggers -->
    <logger name="org.apache.commons.httpclient" level="info" />
    <logger name="httpclient" level="info" />
    <logger name="httpclient.wire" level="info" />

    <!--
        Logging appenders define where and how logging messages are
        logged.
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS}[%thread] %-5level %logger{30}.%method - %msg%n</Pattern>
        </layout>
    </appender>
    
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.err</Target>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS}[%thread] %-5level %logger{30}.%method - %msg%n</Pattern>
        </layout>
    </appender>

    <root>
        <level value="info" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
